<configuration>
  <packageSources>
    <clear />

    <add key="Signature-OpenSource" value="https://pkgs.dev.azure.com/Signature-OpenSource/Feeds/_packaging/NetCore3/nuget/v3/index.json" />
    <add key="Signature-Code" value="https://pkgs.dev.azure.com/Signature-Code/_packaging/Default/nuget/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <Signature-Code>
      <add key="Username" value="SignatureCode" />
      <add key="ClearTextPassword" value="f5pprzleoujojwvyfpzxdayre7id3lvgrfxrupfic5mokr7o64wq" />
    </Signature-Code>
  </packageSourceCredentials>
</configuration>
